In [1]:
import pandas as pd
import numpy as np

# Del 2: Pandas - Categorical Data

Pripravimo datasete:

In [2]:
!tar -xJf data/data_del_02.tar.xz -C ./data/

- [Categorical data](https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html)
- [Using The Pandas Category Data Type](https://pbpython.com/pandas_dtypes_cat.html)
- [Use Categorical Data to Save on Time and Space](https://realpython.com/python-pandas-tricks/#5-use-categorical-data-to-save-on-time-and-space)

## Background and Motivation

In [3]:
values = pd.Series(['apple', 'orange', 'apple', 'apple'] * 2)

In [4]:
pd.unique(values)

array(['apple', 'orange'], dtype=object)

In [6]:
pd.value_counts(values)

apple     6
orange    2
dtype: int64

In [7]:
values = pd.Series([0, 1, 0, 0] * 2)

In [8]:
dim = pd.Series(['apple', 'orange'])

In [9]:
dim.take(values)

0     apple
1    orange
0     apple
0     apple
0     apple
1    orange
0     apple
0     apple
dtype: object

> [pandas.Series.take](https://pandas.pydata.org/pandas-docs/version/0.25/reference/api/pandas.Series.take.html)

## Categorical Type in pandas

In [10]:
fruits = ['apple', 'orange', 'apple', 'apple'] * 2

In [11]:
N = len(fruits)

In [12]:
df = pd.DataFrame({'fruit': fruits,
    'basket_id': np.arange(N),
    'count': np.random.randint(3, 15, size=N),
    'weight': np.random.uniform(0, 4, size=N)},
    columns=['basket_id', 'fruit', 'count', 'weight'])

In [13]:
df

   basket_id   fruit  count    weight
0          0   apple      5  2.994185
1          1  orange     12  0.902941
2          2   apple     10  3.788428
3          3   apple      5  2.633790
4          4   apple     14  1.614014
5          5  orange     10  2.923859
6          6   apple      7  1.201594
7          7   apple      6  0.923601

> Notice that the dtype is NumPy’s int8, an 8-bit signed integer that can take on values from -127 to 128. (Only a single byte is needed to represent a value in memory. 64-bit signed ints would be overkill in terms of memory usage.) Our rough-hewn example resulted in int64 data by default, whereas Pandas is smart enough to downcast categorical data to the smallest numerical dtype possible.

In [15]:
fruit_cat=df['fruit'].astype('category')

In [19]:
fruit_cat

0     apple
1    orange
2     apple
3     apple
4     apple
5    orange
6     apple
7     apple
Name: fruit, dtype: category
Categories (2, object): [apple, orange]

In [20]:
df['fruit']=df['fruit'].astype('category')

In [21]:
df

   basket_id   fruit  count    weight
0          0   apple      5  2.994185
1          1  orange     12  0.902941
2          2   apple     10  3.788428
3          3   apple      5  2.633790
4          4   apple     14  1.614014
5          5  orange     10  2.923859
6          6   apple      7  1.201594
7          7   apple      6  0.923601

In [22]:
my_categories = pd.Categorical(['foo', 'bar', 'baz', 'foo', 'bar'])

In [23]:
my_categories

[foo, bar, baz, foo, bar]
Categories (3, object): [bar, baz, foo]

## Better performance with categoricals

In [24]:
N = 10000000
draws = pd.Series(np.random.randn(N))
labels = pd.Series(['foo', 'bar', 'baz', 'qux'] * (N // 4))

In [25]:
labels.head()

0    foo
1    bar
2    baz
3    qux
4    foo
dtype: object

In [26]:
categories=labels.astype('category')

In [27]:
categories.head()

0    foo
1    bar
2    baz
3    qux
4    foo
dtype: category
Categories (4, object): [bar, baz, foo, qux]

In [30]:
labels.memory_usage(deep=True)/(1024*1024)

686.6455841064453

In [33]:
categories.memory_usage(deep=True)/(1024*1024)

9.537246704101562

In [34]:
%%timeit
labels.values=='foo'

643 ms ± 24.2 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

## Categorical Methods

In [35]:
s = pd.Series(['a', 'b', 'c', 'd'] * 2)

In [38]:
cat_s=s.astype('category')

In [39]:
cat_s.cat.codes

0    0
1    1
2    2
3    3
4    0
5    1
6    2
7    3
dtype: int8

In [40]:
cat_s.cat.categories

Index(['a', 'b', 'c', 'd'], dtype='object')

In [41]:
colors = pd.Series(['periwinkle', 'mint green', 'burnt orange',
                     'periwinkle', 'burnt orange', 'rose', 
                     'rose', 'mint green', 'rose', 'navy'])

ccolors = colors.astype('category')

In [42]:
ccolors=ccolors.cat.add_categories('a new color')

In [43]:
try:
     ccolors.iloc[5] = 'a new color'
except ValueError as e:
    print(e)

## Example: Using The Pandas Category Data Type

### Data Preparation

First, set up imports and read in all the data:

In [46]:
df_raw = pd.read_csv('data/category_example_data.csv',low_memory=False)

In [45]:
df_raw.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99999 entries, 0 to 99998
Columns: 176 entries, Change_Type to Context_of_Research
dtypes: float64(43), int64(3), object(130)
memory usage: 566.0 MB

In [47]:
df_raw.head()

,Change_Type,Covered_Recipient_Type,Noncovered_Recipient_Entity_Name,Teaching_Hospital_CCN,Teaching_Hospital_ID,Teaching_Hospital_Name,Physician_Profile_ID,Physician_First_Name,Physician_Middle_Name,Physician_Last_Name,...,Preclinical_Research_Indicator,Delay_in_Publication_Indicator,Name_of_Study,Dispute_Status_for_Publication,Record_ID,Program_Year,Payment_Publication_Date,ClinicalTrials_Gov_Identifier,Research_Information_Link,Context_of_Research
0,UNCHANGED,Covered Recipient Teaching Hospital,NaN,110079.0,5085.0,GRADY MEMORIAL HOSPITAL,NaN,NaN,NaN,NaN,...,No,No,PCYC-1134M-CA,No,493381041,2017,06/28/2019,NaN,NaN,informCLL A Disease Registry for Patients with...
1,UNCHANGED,Covered Recipient Teaching Hospital,NaN,520078.0,5350.0,ST. FRANCIS HOSPITAL,NaN,NaN,NaN,NaN,...,No,No,Dimethyl Fumarate (DMF) Observational Study,No,455805444,2017,06/28/2019,NaN,NaN,NaN
2,UNCHANGED,Covered Recipient Physician,NaN,NaN,NaN,NaN,296787.0,BERNARD,N,STULBERG,...,No,No,COC,No,501931627,2017,06/28/2019,NaN,NaN,NaN
3,UNCHANGED,Covered Recipient Teaching Hospital,NaN,460009.0,5865.0,U OF U HOSPITALS & CLINICS,NaN,NaN,NaN,NaN,...,No,No,PALLASPALBOCICLIB COLLABORATIVE ADJUVANT STUDY...,No,501847091,2017,06/28/2019,NaN,NaN,NaN
4,UNCHANGED,Covered Recipient Teaching Hospital,NaN,70033.0,4822.0,DANBURY HOSPITAL,NaN,NaN,NaN,NaN,...,No,No,LSS OF 4 SITE,No,446594329,2017,06/28/2019,NCT02097290,NaN,NaN

In [ ]:
#df=df_raw.dropna(thresh=df_raw.size)

AttributeError: 'DataFrame' object has no attribute 'len'

> [pandas.DataFrame.from_records](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.from_records.html)

In [48]:
unique_counts = pd.DataFrame.from_records([(col, df[col].nunique()) for col in df.columns],
                                         columns=['Column_Name', 'Num_Unique'])

In [49]:
unique_counts

  Column_Name  Num_Unique
0   basket_id           8
1       fruit           2
2       count           6
3      weight           8

In [50]:
cols_to_exclude = ['Program_Year', 'Payment_Publication_Date', 'Date_of_Payment']

In [51]:
for col in df.columns:
    if df[col].nunique() < 600 and col not in cols_to_exclude:
        df[col] = df[col].astype('category')

In [52]:
df.memory_usage(deep=True).sum() / (1024*1024)

0.0012331008911132812

### Performance

Perform the analysis on the original input dataframe.

In [53]:
%%timeit
df_raw.groupby('Covered_Recipient_Type')['Total_Amount_of_Payment_USDollars'].sum().to_frame()

17.1 ms ± 221 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

Now, on the dataframe with categorical data:

In [55]:
%%timeit
df.groupby('Covered_Recipient_Type')['Total_Amount_of_Payment_USDollars'].sum().to_frame()

KeyError: 'Covered_Recipient_Type'

### Watch Outs

> The real problem is that programmers have spent far too much time worrying about efficiency in the wrong places and at the wrong times; premature optimization is the root of all evil (or at least most of it) in programming.

### General Guidelines


1. Do not assume you need to convert all categorical data to the pandas category data type.
2. If the data set starts to approach an appreciable percentage of your useable memory, then consider using categorical data types.
3. If you have very significant performance concerns with operations that are executed frequently, look at using categorical data.
4. If you are using categorical data, add some checks to make sure the data is clean and complete before converting to the pandas category type. Additionally, check for NaN values after combining or converting dataframes.